.card {
    background-color: #828385;
    height: 3rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding:20px;
    margin-bottom: 10px;
  }
body {
    margin: 0px;
    /* --aside-width: 200px;
    --horizontal-margin:10px;
    --picture-width:200px; */
    /*--section-width:calc(98vw - var(--aside-width) - var(--horizontal-margin) );*/
    padding-bottom:50px;
}

header
{
    text-align: center;
    width:100%;
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom: 5px;
    height: 100px;
    background-color: #c2c941;
}

#welcomeMainImage{
    display: block;
    max-width:100%;
    max-height: calc(100vh - 150px);
    margin: 5px auto;
}

html
{
    background-color: white;
}
footer
{

    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width:100%;
    margin-left: 0px;
    /* display: inline-block;*/
    vertical-align: bottom;
    background-color: #c2c941;
    height: 50px;

}

.footerTampon{
    height: 50px;
}

footer a
{
    color: green;
    text-decoration:none;
    vertical-align: center;
}
footer div
{
    width: 100%;
    height: 100%;
    display: inline-block;
    line-height: 50%;
}
nav {
    text-align: left;
    background-color: #c2c941;
}
nav a, nav span{
    color:white;
    text-decoration: none;
    transition:color linear 0.2s;
}

nav a:hover, nav span:hover{
    color: #4CAF50;
}

#headertitle {
    font-size: 70px;
    color: white;
    text-decoration:none;
}

.menuCategory {
    display: inline-block;
    position:relative;
    padding:5px 10px;
}

.loginCategory {
    position: relative;
    text-align: right;
    padding:5px 10px;
    color:white;
    float: right;
    font-size: 20px;
}

.withSeveralLinks {
    display: none; 
    position:absolute;   
    left:-0px;
    top:100%;
    background-color:#c2c941;
    padding:5px 10px;
}

.menuCategory:hover .withSeveralLinks {
    display: block;
}

.contactType {
    font-weight: bold;
}


aside {
    width: var(--aside-width);
    padding: var(--horizontal-margin);
    text-align: left;
    box-sizing:border-box;

    background-color: darkgray;
    border-radius: 10px;
    position: fixed;
    top: 140px;
    right: var(--horizontal-margin);

}

section {
    margin:30px var(--horizontal-margin);
    /*width: var(--section-width);*/
    padding-right: calc(var(--aside-width) + var(--horizontal-margin) )
}




#recipeImage {
    max-height: 200px;
    width: var(--picture-width);
    float:left;
    margin-right: var(--horizontal-margin);
}

.quesFrame {
    background-color:#edf2f2;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
}

.submitBtn {
    background-color:#4CAF50 ;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 45px;
    cursor: pointer;
    border: none;
}

.container{
    margin:40px;
}

.leftNote{
    float: left;
    width:70%;
}

.rightNote{
    background-color:rgb(170, 170, 166) ;
    width:20%;
    border-radius: 20px;
    float: right;
    padding:10px;
    margin-right: 20px;
}

.loginForm ,.createAccountForm{
    background-color:gold;
    margin-right: auto;
    margin-left: auto;
    padding:30px;
    border-radius: 20px;
    width: 250px;
    height: 300px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    width:400px;
    margin-top: 100px;
}

#email{
    color:rgb(177, 151, 8);
}

.goToLogInPage{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.welcome {
    margin:150px;
}