.header {
    background-color:#4CAF50;
}

#title {
    color: seashell;
    text-align: left;
    padding:50;
}

.quesFrame {
    background-color:#edf2f2;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
}

.submitBtn {
    background-color:#4CAF50 ;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 45px;
    cursor: pointer;
    border: none;
}

.resultOfQuiz{
    text-align: center;
    color:red;
    margin: 200px;
    font-size: 100px;
}
